'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Anubis'
      'submenu': [
        {
          'label': 'Compile'
          'command': 'anubis:compile'
        }
      ]
    ]
  }
]
