'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Anubis'
      'submenu': [
        {
          'label': 'Compile current file'
          'command': 'anubis:compile'
        }
        {
          'label': 'Compile project'
          'command': 'anubis:compileProject'
        }
      ]
    ]
  }
]
